Họ và tên: Lê Hoàng Anh Đức
Lớp: DSEB 63
ID: 11219268

In [1]:
import numpy as np
import pandas as pd
df=pd.read_csv('D:\\Năm 3 - HK1\\Visualize\\Ex\\autos.csv',encoding = 'latin')
df.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

In [2]:
#1
df.info()
# Lọc None value
# Sửa type của columns liên quan đến giá trị và thời gian

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   dateCrawled          50000 non-null  object
 1   name                 50000 non-null  object
 2   seller               50000 non-null  object
 3   offerType            50000 non-null  object
 4   price                50000 non-null  object
 5   abtest               50000 non-null  object
 6   vehicleType          44905 non-null  object
 7   yearOfRegistration   50000 non-null  int64
 8   gearbox              47320 non-null  object
 9   powerPS              50000 non-null  int64
 10  model                47242 non-null  object
 11  odometer             50000 non-null  object
 12  monthOfRegistration  50000 non-null  int64
 13  fuelType             45518 non-null  object
 14  brand                50000 non-null  object
 15  notRepairedDamage    40171 non-null  object
 16  dateCreated          50000 non-null  object
 17  nrOfPictures         50000 non-null  int64
 18  postalCode           50000 non-null  int64
 19  lastSeen             50000 non-null  object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB

In [3]:
# #2
# import re
# for i in range(len(df.nunique().index)):
#     df.columns.values[i]=re.sub(r'(?<!^)(?=[A-Z])', '_', df.columns.values[i]).lower()
# df.columns

In [4]:
#3
df.nunique() #=> drop column 'neOfPictures' vì chỉ có 1 giá trị

dateCrawled            48213
name                   38754
seller                     2
offerType                  2
price                   2357
abtest                     2
vehicleType                8
yearOfRegistration        97
gearbox                    2
powerPS                  448
model                    245
odometer                  13
monthOfRegistration       13
fuelType                   7
brand                     40
notRepairedDamage          2
dateCreated               76
nrOfPictures               1
postalCode              7014
lastSeen               39481
dtype: int64

In [5]:
#5
m_count=df.groupby('model',as_index=True).nunique()[['dateCrawled']] > (0.1/100) * df.shape[0] 
othermodel=m_count[m_count['dateCrawled']==True].index #list model có observes >0.1%

In [6]:
# #5
# m_count=df.groupby('model',as_index=True).nunique()[['date_crawled']] > (0.1/100) * df.shape[0] 
# othermodel=m_count[m_count['date_crawled']==True].index #list model có observes >0.1%

In [7]:
other = df.set_index('model')
other.index

Index([  'andere',      '7er',     'golf',   'fortwo',    'focus',  'voyager',
           'golf',     'golf',    'arosa',   'megane',
       ...
       'a_klasse',   'twingo',   'andere',        nan,       'a6',       'q5',
          'astra',      '500',       'a3',   'vectra'],
      dtype='object', name='model', length=50000)

In [8]:
for i in othermodel: #remove model have observes >0.1%
    other.drop(index = i,inplace=True)
other.reset_index()

,model,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,voyager,2016-03-21 13:47:45,Chrysler_Grand_Voyager_2.8_CRD_Aut.Limited_Sto...,privat,Angebot,"$7,900",test,bus,2006,automatik,150,"150,000km",4,diesel,chrysler,NaN,2016-03-21 00:00:00,0,22962,2016-04-06 09:45:21
1,NaN,2016-03-15 01:41:36,VW_Golf_Tuning_in_siber/grau,privat,Angebot,$999,test,NaN,2017,manuell,90,"150,000km",4,benzin,volkswagen,nein,2016-03-14 00:00:00,0,86157,2016-04-07 03:16:21
2,NaN,2016-03-16 18:45:34,Mercedes_A140_Motorschaden,privat,Angebot,$350,control,NaN,2000,NaN,0,"150,000km",0,benzin,mercedes_benz,NaN,2016-03-16 00:00:00,0,17498,2016-03-16 18:45:34
3,NaN,2016-04-01 12:06:20,Corvette_C3_Coupe_T_Top_Crossfire_Injection,privat,Angebot,"$18,900",test,coupe,1982,automatik,203,"80,000km",6,benzin,sonstige_autos,nein,2016-04-01 00:00:00,0,61276,2016-04-02 21:10:48
4,NaN,2016-03-10 19:55:34,Peugeot_Boxer_2_2_HDi_120_Ps_9_Sitzer_inkl_Klima,privat,Angebot,"$7,999",control,bus,2010,manuell,120,"150,000km",2,diesel,peugeot,nein,2016-03-10 00:00:00,0,30900,2016-03-17 08:45:17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5607,jazz,2016-03-27 20:51:39,Honda_Jazz_1.3_DSi_i_VTEC_IMA_CVT_Comfort,privat,Angebot,"$9,700",control,kleinwagen,2012,automatik,88,"100,000km",11,hybrid,honda,nein,2016-03-27 00:00:00,0,84385,2016-04-05 19:45:34
5608,NaN,2016-03-31 22:48:48,Student_sucht_ein__Anfaengerauto___ab_2000_BJ_...,privat,Angebot,$0,test,NaN,2000,NaN,0,"150,000km",0,NaN,sonstige_autos,NaN,2016-03-31 00:00:00,0,12103,2016-04-02 19:44:53
5609,NaN,2016-04-02 16:38:23,Verkaufe_meinen_vw_vento!,privat,Angebot,"$1,000",control,NaN,1995,automatik,0,"150,000km",0,benzin,volkswagen,NaN,2016-04-02 00:00:00,0,30900,2016-04-06 15:17:52
5610,300c,2016-04-04 20:46:02,Chrysler_300C_3.0_CRD_DPF_Automatik_Voll_Ausst...,privat,Angebot,"$15,900",control,limousine,2010,automatik,218,"125,000km",11,diesel,chrysler,nein,2016-04-04 00:00:00,0,73527,2016-04-06 23:16:00
5611,NaN,2016-03-15 18:47:35,Audi_A3__1_8l__Silber;_schoenes_Fahrzeug,privat,Angebot,"$1,650",control,kleinwagen,1997,manuell,0,"150,000km",7,benzin,audi,NaN,2016-03-15 00:00:00,0,65203,2016-04-06 19:46:53

In [9]:
#6 find max null row
check = max(df.T.isna().sum())
check

5

In [10]:
dfT=df.T # chuyển vị để fit với hàm .isna().sum()

In [11]:
dfT.loc['count_na']=df.T.isna().sum() # thêm hàng tính null 
df=dfT.T #chuyển vị lần nữa về ban đầu
df

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,...,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen,count_na
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,...,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54,0
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,...,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08,0
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,...,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37,0
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,...,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28,0
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,...,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,2016-03-27 14:38:19,Audi_Q5_3.0_TDI_qu._S_tr.__Navi__Panorama__Xenon,privat,Angebot,"$24,900",control,limousine,2011,automatik,239,...,"100,000km",1,diesel,audi,nein,2016-03-27 00:00:00,0,82131,2016-04-01 13:47:40,0
49996,2016-03-28 10:50:25,Opel_Astra_F_Cabrio_Bertone_Edition___TÜV_neu+...,privat,Angebot,"$1,980",control,cabrio,1996,manuell,75,...,"150,000km",5,benzin,opel,nein,2016-03-28 00:00:00,0,44807,2016-04-02 14:18:02,0
49997,2016-04-02 14:44:48,Fiat_500_C_1.2_Dualogic_Lounge,privat,Angebot,"$13,200",test,cabrio,2014,automatik,69,...,"5,000km",11,benzin,fiat,nein,2016-04-02 00:00:00,0,73430,2016-04-04 11:47:27,0
49998,2016-03-08 19:25:42,Audi_A3_2.0_TDI_Sportback_Ambition,privat,Angebot,"$22,900",control,kombi,2013,manuell,150,...,"40,000km",11,diesel,audi,nein,2016-03-08 00:00:00,0,35683,2016-04-05 16:45:07,0
49999,2016-03-14 00:42:12,Opel_Vectra_1.6_16V,privat,Angebot,"$1,250",control,limousine,1996,manuell,101,...,"150,000km",1,benzin,opel,nein,2016-03-13 00:00:00,0,45897,2016-04-06 21:18:48,0

In [12]:
#7
#đổi type của data
df[['yearOfRegistration', 'monthOfRegistration', 'nrOfPictures', 'count_na']]=df[['yearOfRegistration', 'monthOfRegistration', 'nrOfPictures', 'count_na']].astype('int')
df[['dateCrawled','dateCreated','lastSeen']]=df[['dateCrawled','dateCreated','lastSeen']].astype('datetime64')
df[['name', 'powerPS', 'model','brand','postalCode', 'odometer','price']]=df[['name', 'powerPS', 'model','brand','postalCode', 'odometer','price']].astype('object')
df[['seller', 'offerType','abtest', 'gearbox', 'fuelType','vehicleType','notRepairedDamage']]=df[['seller', 'offerType','abtest', 'gearbox', 'fuelType','vehicleType','notRepairedDamage']].astype('category')
df

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,...,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen,count_na
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,...,"150,000km",3,lpg,peugeot,nein,2016-03-26,0,79588,2016-04-06 06:45:54,0
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,...,"150,000km",6,benzin,bmw,nein,2016-04-04,0,71034,2016-04-06 14:45:08,0
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,...,"70,000km",7,benzin,volkswagen,nein,2016-03-26,0,35394,2016-04-06 20:15:37,0
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,...,"70,000km",6,benzin,smart,nein,2016-03-12,0,33729,2016-03-15 03:16:28,0
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,...,"150,000km",7,benzin,ford,nein,2016-04-01,0,39218,2016-04-01 14:38:50,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,2016-03-27 14:38:19,Audi_Q5_3.0_TDI_qu._S_tr.__Navi__Panorama__Xenon,privat,Angebot,"$24,900",control,limousine,2011,automatik,239,...,"100,000km",1,diesel,audi,nein,2016-03-27,0,82131,2016-04-01 13:47:40,0
49996,2016-03-28 10:50:25,Opel_Astra_F_Cabrio_Bertone_Edition___TÜV_neu+...,privat,Angebot,"$1,980",control,cabrio,1996,manuell,75,...,"150,000km",5,benzin,opel,nein,2016-03-28,0,44807,2016-04-02 14:18:02,0
49997,2016-04-02 14:44:48,Fiat_500_C_1.2_Dualogic_Lounge,privat,Angebot,"$13,200",test,cabrio,2014,automatik,69,...,"5,000km",11,benzin,fiat,nein,2016-04-02,0,73430,2016-04-04 11:47:27,0
49998,2016-03-08 19:25:42,Audi_A3_2.0_TDI_Sportback_Ambition,privat,Angebot,"$22,900",control,kombi,2013,manuell,150,...,"40,000km",11,diesel,audi,nein,2016-03-08,0,35683,2016-04-05 16:45:07,0
49999,2016-03-14 00:42:12,Opel_Vectra_1.6_16V,privat,Angebot,"$1,250",control,limousine,1996,manuell,101,...,"150,000km",1,benzin,opel,nein,2016-03-13,0,45897,2016-04-06 21:18:48,0

In [13]:
# #7
# #đổi type của data column
# df[['year_of_registration', 'month_of_registration', 'nr_of_pictures', 'count_na']]=df[['year_of_registration', 'month_of_registration', 'nr_of_pictures', 'count_na']].astype('int')
# df[['date_crawled','date_created','last_seen']]=df[['date_crawled','date_created','last_seen']].astype('datetime64')
# df[['name', 'power_p_s', 'model','brand','postal_code', 'odometer','price']]=df[['name', 'power_p_s', 'model','brand','postal_code', 'odometer','price']].astype('object')
# df[['seller', 'offer_type','abtest', 'gearbox', 'fuel_type','vehicle_type','not_repaired_damage']]=df[['seller', 'offer_type','abtest', 'gearbox', 'fuel_type','vehicle_type','not_repaired_damage']].astype('category')
# df

In [14]:
numeric_data=df._get_numeric_data() #lọc numeric data
numeric_data

       yearOfRegistration  monthOfRegistration  nrOfPictures  count_na
0                    2004                    3             0         0
1                    1997                    6             0         0
2                    2009                    7             0         0
3                    2007                    6             0         0
4                    2003                    7             0         0
...                   ...                  ...           ...       ...
49995                2011                    1             0         0
49996                1996                    5             0         0
49997                2014                   11             0         0
49998                2013                   11             0         0
49999                1996                    1             0         0

[50000 rows x 4 columns]

In [15]:
a=dict(numeric_data.median())
a

{'yearOfRegistration': 2003.0,
 'monthOfRegistration': 6.0,
 'nrOfPictures': 0.0,
 'count_na': 0.0}

In [16]:
numeric_data.fillna(a)
numeric_data.isna().sum()

yearOfRegistration     0
monthOfRegistration    0
nrOfPictures           0
count_na               0
dtype: int64

In [17]:
other_data=df.select_dtypes(include=['datetime64','object','category']) #lọc non-numeric data
other_data.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,gearbox,powerPS,model,odometer,fuelType,brand,notRepairedDamage,dateCreated,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,manuell,158,andere,"150,000km",lpg,peugeot,nein,2016-03-26,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,automatik,286,7er,"150,000km",benzin,bmw,nein,2016-04-04,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,manuell,102,golf,"70,000km",benzin,volkswagen,nein,2016-03-26,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,automatik,71,fortwo,"70,000km",benzin,smart,nein,2016-03-12,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,manuell,0,focus,"150,000km",benzin,ford,nein,2016-04-01,39218,2016-04-01 14:38:50

In [18]:
b=dict(other_data.mode())

In [19]:
other_data.fillna(b)

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,gearbox,powerPS,model,odometer,fuelType,brand,notRepairedDamage,dateCreated,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,manuell,158,andere,"150,000km",lpg,peugeot,nein,2016-03-26,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,automatik,286,7er,"150,000km",benzin,bmw,nein,2016-04-04,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,manuell,102,golf,"70,000km",benzin,volkswagen,nein,2016-03-26,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,automatik,71,fortwo,"70,000km",benzin,smart,nein,2016-03-12,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,manuell,0,focus,"150,000km",benzin,ford,nein,2016-04-01,39218,2016-04-01 14:38:50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,2016-03-27 14:38:19,Audi_Q5_3.0_TDI_qu._S_tr.__Navi__Panorama__Xenon,privat,Angebot,"$24,900",control,limousine,automatik,239,q5,"100,000km",diesel,audi,nein,2016-03-27,82131,2016-04-01 13:47:40
49996,2016-03-28 10:50:25,Opel_Astra_F_Cabrio_Bertone_Edition___TÜV_neu+...,privat,Angebot,"$1,980",control,cabrio,manuell,75,astra,"150,000km",benzin,opel,nein,2016-03-28,44807,2016-04-02 14:18:02
49997,2016-04-02 14:44:48,Fiat_500_C_1.2_Dualogic_Lounge,privat,Angebot,"$13,200",test,cabrio,automatik,69,500,"5,000km",benzin,fiat,nein,2016-04-02,73430,2016-04-04 11:47:27
49998,2016-03-08 19:25:42,Audi_A3_2.0_TDI_Sportback_Ambition,privat,Angebot,"$22,900",control,kombi,manuell,150,a3,"40,000km",diesel,audi,nein,2016-03-08,35683,2016-04-05 16:45:07
49999,2016-03-14 00:42:12,Opel_Vectra_1.6_16V,privat,Angebot,"$1,250",control,limousine,manuell,101,vectra,"150,000km",benzin,opel,nein,2016-03-13,45897,2016-04-06 21:18:48

In [20]:
df=pd.concat([numeric_data,other_data],axis=1) #gộp numeric và non-numeric data
df

,yearOfRegistration,monthOfRegistration,nrOfPictures,count_na,dateCrawled,name,seller,offerType,price,abtest,...,gearbox,powerPS,model,odometer,fuelType,brand,notRepairedDamage,dateCreated,postalCode,lastSeen
0,2004,3,0,0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,...,manuell,158,andere,"150,000km",lpg,peugeot,nein,2016-03-26,79588,2016-04-06 06:45:54
1,1997,6,0,0,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,...,automatik,286,7er,"150,000km",benzin,bmw,nein,2016-04-04,71034,2016-04-06 14:45:08
2,2009,7,0,0,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,...,manuell,102,golf,"70,000km",benzin,volkswagen,nein,2016-03-26,35394,2016-04-06 20:15:37
3,2007,6,0,0,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,...,automatik,71,fortwo,"70,000km",benzin,smart,nein,2016-03-12,33729,2016-03-15 03:16:28
4,2003,7,0,0,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,...,manuell,0,focus,"150,000km",benzin,ford,nein,2016-04-01,39218,2016-04-01 14:38:50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,2011,1,0,0,2016-03-27 14:38:19,Audi_Q5_3.0_TDI_qu._S_tr.__Navi__Panorama__Xenon,privat,Angebot,"$24,900",control,...,automatik,239,q5,"100,000km",diesel,audi,nein,2016-03-27,82131,2016-04-01 13:47:40
49996,1996,5,0,0,2016-03-28 10:50:25,Opel_Astra_F_Cabrio_Bertone_Edition___TÜV_neu+...,privat,Angebot,"$1,980",control,...,manuell,75,astra,"150,000km",benzin,opel,nein,2016-03-28,44807,2016-04-02 14:18:02
49997,2014,11,0,0,2016-04-02 14:44:48,Fiat_500_C_1.2_Dualogic_Lounge,privat,Angebot,"$13,200",test,...,automatik,69,500,"5,000km",benzin,fiat,nein,2016-04-02,73430,2016-04-04 11:47:27
49998,2013,11,0,0,2016-03-08 19:25:42,Audi_A3_2.0_TDI_Sportback_Ambition,privat,Angebot,"$22,900",control,...,manuell,150,a3,"40,000km",diesel,audi,nein,2016-03-08,35683,2016-04-05 16:45:07
49999,1996,1,0,0,2016-03-14 00:42:12,Opel_Vectra_1.6_16V,privat,Angebot,"$1,250",control,...,manuell,101,vectra,"150,000km",benzin,opel,nein,2016-03-13,45897,2016-04-06 21:18:48